.styling{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appartement{
    margin: 10px;
    color: #ff6060;
    &--title{
        font-size: 36px;
    }
    &--location{
        margin: 5px;
        font-size:18px;
    }
}
.host{
    display: flex;
    color: #ff6060;
    &--name{
        width: 50%;
        font-size: 18px;
    }
    &--pic{
        height: 64px;
        width: 64px;
        border-radius: 50%;
    }
}
.tags{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
.tag{
    background-color: #ff6060;
    border-radius: 15px;
    color: white;
    padding: 5px 20px 5px 20px;
    margin: 10px;
}
.rate{
    color: #ff6060;
}
.dropdowns{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}